
.has-text-align-center{
    text-align: center;
    font-size: 20px;
}

.instr_content_div{
    background-color: seagreen;
    padding: 10px;
}

.has-inline-color{
    font-size:18px;
}

.content-p{
    font-size: 18px;
    color: #000033;
}

.instr_content_div {
    width: 900px;
    text-align: justify;
}

.instructions_table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 18px;
    margin-left: 40px;
}

.instructions_td {
    border: 1px solid purple;
    background-color: PaleGoldenRod;
    cursor: pointer;
    border-collapse: collapse;
    padding: 5px;
    cursor: pointer;
}

.CodeMirror{
    height: 40px;
}
.full-page-display{
	max-width: 700px;
}

.wide-700{
    margin: 10px;
    text-align: justify;
    width: 800px;
    font-size: 20px;
}
